*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-image: url(../images/banner.png);
    background-size: cover;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: #030200;
    color: white;
}

header h2:hover{
    transform: scale(115%);
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 45vw;
    height: 20vh;
}

header li{
    display: flex;
    align-items: center;
    font-size: 20px;
}

header li:hover{
    transform: scale(115%);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.geralt{
    background-image: url(../images/geralt.png);
    background-size: cover;
    width: 34vw;
    height: 85vh;
}

.witcher{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50vh;
    position: absolute;
}

.witcher img{
    width: 20vw ;
}

button{
    width: 15vw;
    height: 8vh;
    position: absolute;
    bottom: 40px;
    border-radius: 15px;
    background-color: #B80F19;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

button:hover{
    transform: scale(115%);
}





